@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    background-color: #fff;
}
.triangles .tri1{
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    border-top: 10rem solid transparent;
    border-bottom: 10rem solid transparent;
    border-left: 10rem solid aqua;
    border-right: 10rem solid transparent;
}
.triangles .tri2{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    border-top: 12rem solid transparent;
    border-bottom: 12rem solid transparent;
    border-right: 12rem solid aqua;
    border-left: 12rem solid transparent;
}
.triangles .tri3{
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
    border-top: 12rem solid aqua;
    border-bottom: 12rem solid transparent;
    border-right: 12rem solid transparent;
    border-left: 12rem solid transparent;
}
.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    margin: 0 2rem;
    font-size: 3rem;
    color: white;
    background-color: black;
    padding: 0 0.2rem;
}
.header h1 span{
    font-size: 3rem;
    color: aqua;
}
.header nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 100;
}
.header nav ul{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}
.header nav ul li{
    list-style: none;
}
.header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: #fff;
    transition: 0.3s;
}
.header nav ul li a:hover,
.header nav ul li a:active{
    color: aqua;
    font-size: 3rem;
}
.hidden{
    display: none;
}
.menuIcons{
    position: fixed;
    right: 1.5rem;
    margin: 0 2rem;
    font-size: 3.5rem;
    cursor: pointer;
    z-index: 1000;
}
.heroSec{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}
.heroSec .txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heroSec .txt h1{
    font-size: 4rem;
}
.heroSec .txt h2{
    font-size: 3rem;
}
.heroSec .txt h2 span{
    font-size: 4rem;
    color: aqua;
}
.heroSec .txt h4{
    font-size: 2rem;
}
.heroSec .txt p{
    font-size: 1.2rem;
    text-align: center;
}
.img img{
    height: 30rem;
    clip-path: circle(50%);
    z-index: -1;
}
.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.socialIcons .logo{
    margin: 0 3rem;
    cursor: pointer;
    font-size: 2.5rem;
    color: rgb(36, 34, 34);
    transition: 0.5s;
}
.logo:hover,
.logo:active{
    font-size: 3.5rem;
    color: aqua;
}
#about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(115, 252, 252);
    flex-direction: column;
    background: url('https://10wallpaper.com/wallpaper/1600x1200/1311/line_light_wavy_neon-design_hd_wallpaper_1600x1200.jpg');
    background-size: cover;
    background-position: center;
}
.h1{
    font-size: 4rem;
    color: #000;
}
.s1{
    width: 20rem;
    height: 0.5rem;
    background-color: #000;
}
.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}
.aboutMe p{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(41, 39, 39);
    line-height: 3rem;
    letter-spacing: 0.2rem;
}
.aboutMe img{
    height: 40rem;
    margin: 0 2rem;
}
#my_skills{
    background: url('https://wallpaperaccess.com/full/1236474.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skillIcons{
    display: flex;
    margin: 8rem;
}
.skillIcons .skills{
    font-size: 6rem;
    color: rgb(3, 34, 34);
}
.skillLogo p{
    font-size: 2rem;
    text-align: center;
    margin: 1rem 2rem;
}
#blog{
    height: 100vh;
    background: url('https://i.pinimg.com/originals/de/8a/ed/de8aed59ff429ceaae5d573e17f09a37.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blogCon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30rem;
    height: 35rem;
    background-color: rgb(68, 67, 67);
    margin: 5rem 8rem;
}
.cards{
    color: #fff;
    margin: 1rem 2rem;
    text-align: center;
}
.cards a{
    color: aqua;
    text-decoration: none;
    font-size: 1.5rem;
}
.blogImg{
    width: 30rem;
}
#contact{
    height: 100vh;
    background: url('https://wallpaperaccess.com/full/623945.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 5rem;
}
#contact form input{
    border: none;
    outline: none;
    border-bottom: 2px solid aqua;
    width: 50rem;
    font-size: 2rem;
}
form a.btn{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(41, 40, 40);
    background-color: aqua;
    padding: 1rem;
    border: 2px solid aqua;
    border-radius: 10rem;
    transition: 0.3s;
}
form a.btn:hover{
    background-color: #fff;
}
@media (max-width: 1010px) {
    #about .aboutMe img{
        display: none;
    }
    #about .aboutMe p{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        margin: 1rem;
    }
    .skillIcons{
        display: flex;
        margin: 2rem;
    }
    .box{
        margin: 3rem 1rem;
        width: 20rem;
    }
    .blogImg{
        width: 20rem;
    }
    #contact form input{
        width: 30rem;
        font-size: 1.5rem;
    }
    form a.btn{
        text-decoration: none;
        font-size: 1.5rem;
    }
}
@media (max-width: 670px) {
    .img img{
        display: none;
    }
    .heroSec .txt h1{
        font-size: 3rem;
    }
    .heroSec .txt h2{
        font-size: 2rem;
    }
    .heroSec .txt h2 span{
        font-size: 2.5rem;
        color: aqua;
    }
    .heroSec .txt h4{
        font-size: 1rem;
    }
    .heroSec .txt p{
        font-size: 1.2rem;
        text-align: center;
    }
    #about .aboutMe p{
        font-size: 1.5rem;
        letter-spacing: 0;

        line-height: 2.2rem;
        margin: 1rem;
    }
    .h1{
        font-size: 3rem;
    }
    .s1{
        height: 0.5rem;
    }
    .socialIcons .logo{
        font-size: 1.5rem;
    }
    .header nav{
        width: 100%;
    }
    .skillIcons .skills{
        font-size: 4rem;
    }
    .skillLogo p{
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem;
    }
    .box{
        margin: 2rem 0.5rem;
        width: 15rem;
        height: 18rem;
    }
    .blogImg{
        width: 15rem;
    }
    .cards{
        margin: 1rem;
    }
    .cards h1{
        font-size: 1rem;
    }
    .cards p{
        display: none;
    }
    .cards a{
        font-size: 1rem;
    }
}
@media (max-width: 478px) {
    .box{
        margin: 2rem 0.5rem;
        width: 10rem;
        height: 15rem;
    }
    .blogImg{
        width: 10rem;
    }
    .skillLogo p{
        font-size: 0.8rem;
        text-align: center;
        margin: 0.2rem;
    }
    #contact form input{
        width: 20rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 365px) {
    #about .aboutMe p{
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.8rem;
        margin: 1rem;
    }
    .blogCon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.2rem;
    }
    .box{
        margin: 0.5rem;
        width: 15rem;
        height: 13.5rem;
    }
    .blogImg{
        width: 15rem;
    }
    .cards{
        margin: 0 1rem;
    }
    .cards a{
        font-size: 0.8rem;
    }
    .header h1{
        font-size: 2rem;
        padding: 0;
    }
}